body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

form input, form select, form button {
    padding: 8px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 8px;
    text-align: center;
}

button {
    cursor: pointer;
}
